.common
  filter-page(
    v-if="filterConfig"
    :filterConfig="filterConfig"
    :formObj="filterObj"
    @filterAction="filterAction"
  )
  slot
  table-page(
    v-if="tableConfig" 
    :tableConfig="tableConfig" 
    :dataSource="dataSource"
    :paginationShow="paginationShow"
    @pageChange="pageChange" 
    @sizeChange="sizeChange" 
    :loading="loading"
    :filter="filter"
    :isSelectColumn="isSelectColumn"
    @handleSelectionChange="handleSelectionChange"
  )
  dialog-page(
    v-if="dialogConfig"
    :dialog="dialog"
    :dialogConfig="dialogConfig"
    @closeDialog="closeDialog"
    :formObj="formObj"
    @confirmDialog="confirmDialog"
  )